.courses {
	position: relative;
	z-index: 0;
}

.input-wrap {
	width: 80vw;
	margin: auto;
	background-color: #26bcbcbc;
	height: 12vw;
	border-radius: 94px;
	padding: 3%;
	box-sizing: border-box;
	margin-bottom: 5%;
	direction: ltr;
}

.input-wrap input {
	height: 100%;
	width: 59vw;
	background-color: transparent;
	border: none;
	font-size: 5vw;
	color: white;
	vertical-align: top;
	margin-right: 14vw;
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
	padding: 0;
	text-align: right;
}

.input-wrap input::placeholder {
	color: white
}

section .section-title {
	text-align: center;
	color: blue;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#tabs {
	color: #eee;
}

#tabs h6.section-title {
	color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #f3f3f3;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 4px solid !important;
	font-size: 20px;
	font-weight: bold;
}

#tabs .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #eee;
	font-size: 20px;
}

.course-tabs a {
	font-size: 15px;
	text-align: center;
}

.course-tabs .nav-tabs li {
	display: inline;
}

.courses-center {
	text-align: center;
}

.courses-bold {
	font-weight: bold;
}

.courses-input {
	padding-right: 10px;
}

.th-courses {
	width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
}

.td-courses {
	text-align: center;
	height: 90px;
	font-family: "Assistant-Regular";
	width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	line-height: 1.6;
}

.fixed-tabs {
	position: fixed;
	width: 100%;
	height: 15%;
	bottom: 0;
	z-index: 1;
	margin: auto;
	background-color: white;
}

::placeholder {
	font-family: "Assistant-Regular";
	font-size: 20sp;
	padding-right: 30px;
}

.sub-header {
	width: 360px;
	height: 145px;
	margin-top: 26px;
	/*== 50-24*/
}

.sub-header-row {
	height: 67px;
}

.courses-header {
	font-size: 28px;
	font-family: "Assistant-SemiBold";
	width: 93px;
	line-height: 30px;
	color: #5d5d5d;
	margin-right: 18px;
	margin-top: 8px;
	margin-bottom: 70px;
}

.courses-icon-row {
	width: 249px;
	margin-top: 16.7px;
}

.sub-header-back {
	height: 16.1px;
	width: 22.4px;
	margin-left: 33.5px;
	margin-bottom: 112.2px;
}

.sub-header-copy {
	height: 20.3px;
	width: 18.5px;
	margin-left: 33.5px;
	margin-bottom: 108.1px;
}

.sub-header-save {
	height: 20.1px;
	width: 19.5px;
	margin-left: 14px;
	margin-bottom: 108.2px;
}