.hours-report {
    font-family: "Assistant-Regular";
    /* disable the padding of the container */
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
}

.hours-sum {
    text-align: center;
    box-shadow: 0px 6px 3px -5px rgba(26, 0, 0, 0.5);
    font-size: 12px;
}

.hour-report-table {
    margin-top: 10px;
    text-align: center;
    }


.th-hour-report{
    font-size: 10px;
    font-family:"Assistant-Bold"; 
    color: #5d5d5d;
    /*line-height: 42px;*/
}

.tr-hour-report {
    
}

.table-hour-report {
    border-collapse:separate; 
    border-spacing:0 15px;
}

.th-hour-report-date {
    width: 15%;

}

.th-hour-report-project {
    width: 35%;
}

.th-hour-report-activity {

    width: 30%;
}

.th-hour-report-total {
    width: 20%;
}

.wh-report-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.wh-footer {
    width: 100%;
    height: 76px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px -2px 8px 0px rgba(26,0,0,0.5);
}