.login-container {
    background-color: #1B166E;
    height: 100vh;
    width: 100%;
       
}

.login-column {
    display: flex;
    flex-direction: column;
}

.login-logo {
    display: block;
    margin: auto;
    padding-top: 40px; 
    padding-bottom: 50px;
}

.form-control {
    background-color: #1B166E;
    height: 50px; 
    
}

.form-control.login-white-bg {
    background-color: white;
}

.rounded-pill {
    width: 311.2px;
    margin: auto;
}

.login-relative {
    position: relative;
    
}

.login-abs {
    position: absolute; 
    color: #ffffff;
    text-align: center;
    width: 100%; 
    pointer-events: none; 
    top: 9.5%;
    font-size: 25px;
}

.login-connect {
    position: absolute; 
    color: #1B166E;
    text-align: center;
    width: 100%; 
    pointer-events: none; 
    top: 1%;
    font-size: 30px;
    font-weight: bold;
    }

.login-grow {
    flex-grow: 1; 
    padding-bottom: 75px;
}

.form-control2 {
    background-color: #ffffff;
    height: 50px; 
             
}

.login-flex {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100%;
    
} 

/* forgot password link was set to hidded cause login was not imlemented yet */
.login-pass{
    color: #ffffff;
    font-size: 1.3em;
    visibility: hidden;
    
}

.login-login {
    margin-top: auto;
}

.login-credentials {
    direction: ltr;
    text-align: left;
    font-size: 1.3em;
}

.img-logo {
    margin-left: 12px;
}

strong {
    font-size: 20px;
    color: #ffa1a1;
    }

div.alert {
position: fixed;
width: 100vw;
height: 99px;
margin-bottom: 0;
bottom: 0;
background-color: #ffffff;
}

.login-span {
    font-size: 35.2px;
    color: #5d5d5d;
    position: absolute;
    top: -10px; 
    left: 15px; 
    }

/* forgot pw css design needs to be completed for iphone 5SE*/

.forgot-span {
    font-size: 35.2px;
    color: #5d5d5d;
    position: absolute;
    top: 17.6px; 
    left: 18.6px; 
    }

.forgot-modal {
    width: 312.2px;
    height: 408px;
    background-color: #ffffff;
       
}

input.forgot-email:focus {
    outline: none;
    
}

input.forgot-email {
    border: none; 
    border-bottom: 1px solid black;
    font-size: 1.3em;
    text-align: center;
}


.modal-dialog {
margin-top: 116px;
}

.modal-header {
    border-bottom: none;
}

#modal-title {
    text-align: center;
    color: #5d5d5d;
    font-size: 35px; 
    margin-bottom: 70px;
}

.modal-footer {
    border-top: none;
}

.btn.btn-light {
    background-color: #ffffff; 
    font-size: 23px; 
    color: #5d5d5d;
    border: none;
}