.sidebar-wrap {
	right: 0;
	position: fixed;
	top: 0px;
	bottom: 0px;
	z-index: 1000;
	height: 100%;
	transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	width: 0;
	overflow: hidden;
}

.sidebar-open .sidebar-wrap {
	width: 75%;
}

.sidebar-background {
	background-color: rgba(0, 0, 0, 0.4);
	width: 0;
	height: 0;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 999;
	opacity: 0;

	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.sidebar-open .sidebar-background {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #FAFAFA;
	height: 100%;
	width: 100%;
}

.sidebar-header {
	background-color: #1b166e;
	width: 100%;
	height: 18%;
	display: block;
	text-align: center;
	padding: 5%;
	box-sizing: border-box;
	position: relative;
}

.appleseeds-logo {
	width: 75%;
	position: absolute;
	left: 56px;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.profile-preview {
	/* height: calc(7vh + 4px);
	padding: 1vh; */
	/* border-bottom: 1px solid #ccc; */
    display: flex;
    align-items: center;
	padding-right: 16.6px;
	margin-bottom: 10.1px;
	margin-top: 24px;
	padding-top: 0px;
	padding-bottom: 0px; 
}

.profile-image {
	/* width: 7vh;
	height: 7vh; */
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	border: 4px solid #DBE9F9;
	background-position: center;
	transform: Scale(0, 0);
	-moz-transform: Scale(0, 0);
	-ms-transform: Scale(0, 0);
	-webkit-transform: Scale(0, 0);
	-o-transform: Scale(0, 0);
	transition: transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	position: relative;
	z-index: 2;
}

.sidebar-open .profile-image {
	transform: Scale(1, 1);
	-moz-transform: Scale(1, 1);
	-ms-transform: Scale(1, 1);
	-webkit-transform: Scale(1, 1);
	-o-transform: Scale(1, 1);
}

.sidebar-options .menu-information {
	transform: translateX(40vw);
	/* height: 6vh; */
	/* font-weight: bold; */
	color: #2E598B;
	padding-right: 2vh;
	/* padding-top: 4vh; */
	transition: transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
}

.sidebar-options .menu-information:nth-child(2) {
	transition-delay: 0.075s;
	-moz-transition-delay: 0.075s;
	-ms-transition-delay: 0.075s;
	-webkit-transition-delay: 0.075s;
	-o-transition-delay: 0.075s;
}

.sidebar-options .menu-information:nth-child(3) {
	transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
}

.sidebar-options .menu-information:nth-child(4) {
	transition-delay: 0.225s;
	-moz-transition-delay: 0.225s;
	-ms-transition-delay: 0.225s;
	-webkit-transition-delay: 0.225s;
	-o-transition-delay: 0.225s;
}

.sidebar-options .menu-information:nth-child(5) {
	transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}

.sidebar-open .sidebar-options .menu-information {
	transform: translateX(0);
}

.name-wrap {
	display: inline-block;
	opacity: 0;
	margin-right: -2.5em;
	transform: Scale(0, 0);
	-moz-transform: Scale(0, 0);
	-ms-transform: Scale(0, 0);
	-webkit-transform: Scale(0, 0);
	-o-transform: Scale(0, 0);
	transform-origin: 100% 50%;
	transition: margin 0.5s ease-out, opacity 0.5s ease, transform 0.5s ease;
	-moz-transition: margin 0.5s ease-out, opacity 0.5s ease, -moz-transform 0.5s ease;
	-ms-transition: margin 0.5s ease-out, opacity 0.5s ease, -ms-transform 0.5s ease;
	-webkit-transition: margin 0.5s ease-out, opacity 0.5s ease, -webkit-transform 0.5s ease;
	-o-transition: margin 0.5s ease-out, opacity 0.5s ease, -o-transform 0.5s ease;
	position: relative;
	z-index: 1;
	font-family: "Assistant-SemiBold";
}

.sidebar-open .name-wrap {
	opacity: 1;
	margin-right: 1vw;
	transform: Scale(1, 1);
	-moz-transform: Scale(1, 1);
	-ms-transform: Scale(1, 1);
	-webkit-transform: Scale(1, 1);
	-o-transform: Scale(1, 1);
}

.closeBar {
	position: absolute;
	top: -5px;
	left: 10px;
	z-index: 1;
	color: white;
	font-size: 40px;
	font-weight: 100;
	font-style: normal;

}

.navcontainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-family: "Assistant-Regular";
	font-size: 20px;
}



.outSideBar {
	/* border: solid black; */
	height: 100%;
	width: 22%;
	position: fixed;
	top: 0;
	left: 0;

}

.users-nav {
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	padding-right: 16.6px;
}

.arrowbardown {
	margin-right: auto;
	padding-left: 10px;
}

.arrowbarup {
	margin-right: auto;
	padding-left: 10px;
}


.flip-scale-up-hor {
	animation: flip-scale-up-hor 0.5s linear both;
}

@keyframes flip-scale-up-hor {
	0% {
		transform: scale(1) rotateX(0);
	}

	50% {
		transform: scale(2.5) rotateX(-90deg);
	}

	100% {
		transform: scale(1) rotateX(-180deg);
	}
}

.flip-scale-down-hor {
	animation: flip-scale-down-hor 0.5s linear both;
}

@keyframes flip-scale-down-hor {
	0% {
		transform: scale(1) rotateX(0);
	}

	50% {
		transform: scale(0.4) rotateX(90deg);
	}

	100% {
		transform: scale(1) rotateX(180deg);
	}
}


.animate-show {
	transition: all linear 0.5s;
	animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
	0% {
	  letter-spacing: 1em;
			  transform: translateZ(400px);
	  opacity: 0;
	  max-height: 0px;
	  overflow: hidden;
	}
	40% {
	  opacity: 0.6;
	  overflow: hidden;
	}
	100% {
			  transform: translateZ(0);
	  opacity: 1;
	  max-height:200px ;
	  overflow: hidden;
	}
  }
  

.animate-hide {
	transition: all linear 0.5s;
	animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes tracking-out-expand-fwd {
	0% {
		transform: translateZ(0);
		opacity: 1;
		max-height: 200px;
		overflow: hidden;
	}

	60% {
		opacity: 0.8;
	}

	100% {
		letter-spacing: 1em;
		transform: translateZ(300px);
		opacity: 0;
		max-height: 0px;
		overflow: hidden;
	}
}

.hamburger-nav {
	margin: auto;
	/* height: 30px; */
	font-size: 25px;
	color: #5d5d5d;
	position: absolute;
	right: 25px;
	top: 10px;
}

.headerNav {
position: relative;
text-align: center;
padding: 10px;

}
/* .placeHeadNav {
	margin: auto;
padding-right: 100px;

} */

.nav-item {
	
padding-right: 0px;
}

.navbar-nav {
	/* border: solid black; */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
	width: 100%;
}

.navIconAlign {
	width: 30px;
	text-align: center;
}

.user-name {
	font-family: "Assistant-SemiBold";
	padding-right: 2vh;
	font-size: 24px;
	line-height: 11px;
}

/* .imgUser {
	width: 120%;
} */

.sub-menu-nav {
	margin-right: 48px;
}

.nav-logout {
	display: flex;
	flex-grow: 1;
	padding-top: 5%;
}

.nav-link {
	display: block;
	padding-top: 14px;
	padding-bottom: 11px;
}

.nav-users {
	margin-bottom: 2%;
} 