<div>

    <div class="headerNav">
        <i class="fas fa-bars hamburger-nav" ng-click="openSide()"></i>
        <span class="placeHeadNav"> {{menuIndex()}} </span>
    </div>

    <div ng-class="{'sidebar-open' : isOpen}">

        <div class="sidebar-background"></div>
        <div class="sidebar-wrap"><i class="closeBar" ng-click="closeSide()">&times;</i>
            <div class="sidebar">
                <div class="sidebar-header">
                    <img class="appleseeds-logo" src="img/bg_logo.png"></img>
                </div>
                <div class="profile-preview">
                    <!-- <div class="name-wrap">
                        </div> -->
                    <div class="navIconAlign">
                        <img class="imgUser" ng-show="activeUser.image" ng-src="{{activeUser.image}}" > 
                        <img class="imgUser" ng-hide="activeUser.image" src="img/profile_icon.png"> <!--ng-src="{{activeUser.image}}" / src="img/profile_icon.png"-->
                    </div>
                    <span class="user-name">
                        שלום, {{activeUser.firstname}}!
                    </span>

                </div>
                <div class="sidebar-options navcontainer">
                    <ul class="navbar-nav">
                        <div class="users-nav" ng-click="usermenuclick()">
                            <div class="navIconAlign">
                                <img src="img/noun_user_user_1064877.png" alt="">
                            </div>

                            <li class="nav-item">
                                <a class="nav-link menu-information">משתמשים</a>
                            </li>
                            <img class="arrowbardown" src="img/arrow_down.png" ng-show="usermenu" alt="arrow_down"
                                ng-class="{'flip-scale-up-hor' : usermenu}">
                            <img class="arrowbarup" src="img/arrow_up.png" ng-hide="usermenu" alt="arrow_up"
                                ng-class="{'flip-scale-down-hor' : !usermenu}">
                        </div>

                        <div ng-show="usermenu" class="sub-menu-nav animate-show"
                            ng-class="{'animate-hide' : !usermenu}">
                            <li class="nav-item">
                                <a class="menu-information" href="#!/users?type=staff">עובדים</a>
                            </li>
                            <li class="nav-item">
                                <a class="menu-information" href="#!/users?type=student">חניכים</a>
                            </li>
                            <li class="nav-item">
                                <a class="menu-information" href="#!/users?type=new">משתמשים חדשים</a>
                            </li>
                        </div>
                        <div class="users-nav">
                            <div class="navIconAlign">
                                <img src="img/noun_book_2349054.png" alt="">
                            </div>

                            <li class="nav-item active">
                                <a class="nav-link menu-information" href="#!/courses"
                                    ng-click="goToCoursesPage()">קורסים</a>
                            </li>
                        </div>
                        <div class="users-nav">
                            <div class="navIconAlign">
                                <img src="img/noun_time_1610737.png" alt="hours-report">
                            </div>

                            <li class="nav-item">
                                <a class="nav-link menu-information" href="#!/hours-report">דיווח שעות</a>
                            </li>
                        </div>
                        <div class="users-nav">
                            <div class="navIconAlign">
                                <img src="img/noun_check_box_38652.png" alt="">
                            </div>

                            <li class="nav-item">
                                <a class="nav-link menu-information" href="#!/hours-approve">אישור שעות</a>
                            </li>
                        </div>
                        <div class="nav-logout users-nav">
                            <div class="navIconAlign">
                                <img src="img/noun_off_1915997.png" alt="logout">
                            </div>

                            <li class="nav-item">
                                <a class="nav-link menu-information" ng-click="logout()"
                                    href="javascript:void(0)">התנתקות</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="outSideBar" ng-show="isOpen" ng-click="closeSide()">
                </div>
            </div>
        </div>
    </div>
</div>