<div class="courses">
    <portal-navbar></portal-navbar>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="input-wrap my-3 col-8">
                    <input class="courses-input" type="text" placeholder="חיפוש קורס" ng-model="search"
                        ng-keyup="$event.keyCode == 13?pageIndex=0:''; $event.keyCode == 13?getCourses():'';">
                </div>

                <div class="courses-center courses-bold my-4 col-4">
                    <div class="page-nav">
                        <span ng-click="pageDown()"><img src="img\arrow_right.png"></span>
                        <span></span> {{pageIndex+1}} <span></span>
                        <span ng-click="pageUp()"><img src="img\arrow_left.png"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div>
                <table class="table-users">
                    <thead>
                        <tr>
                            <th class="th-users th-courses">שם קורס מקוצר</th>
                            <th class="th-users th-courses">פרויקט</th>
                            <th class="th-users th-courses">מדריך</th>
                        </tr>
                    </thead>
                    <tbody ng-model="courses">
                        <tr class="tr-users" ng-click="goToCoursePage(course)"
                            ng-repeat="course in courses | orderBy:sortType:sortReverse">
                            <td class="td-courses" title="{{course.subname}}">{{course.subname}}</td>
                            <td class="td-courses" title="{{course.project}}">{{course.project}}</td>
                            <td class="td-courses" title="{{course.teachers}}">{{course.teachers}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- TODO: simple button-like click, no tabs -->
            <div class="my-5 course-tabs">
                <ul class="nav nav-tabs" ng-init="tabindex='activetable'">
                    <li ng-class="{active:courseStatus==1}"><a ng-click="goToActiveTab();">קורסים
                            פעילים</a>
                    </li>
                    <li ng-class="{active:courseStatus==0}"><a ng-click="goToInactiveTab();">קורסים לא פעילים</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>