<div ng-show="course">
    <portal-navbar></portal-navbar>
    <div class="container crs-container">
        <div class="row sub-header">
            <div class="row sub-header-row">
                <div class="col-6">
                    <h2 class="courses-header">{{course.subname}}</h2>
                </div>
                <div class="col-6 courses-icon-row">
                    <div class="row">
                        <div class="col-2 sub-header-back" ng-click="goBack()"><img ng-src="{{arrowBackImg}}"></div>
                        <div class="col-2 sub-header-copy" ng-click=duplicateCourse()><img ng-src="{{copyImg}}"></div>
                        <div class="col-2 sub-header-save"><img ng-src="{{saveImg}}"></div>
                    </div>
                </div>
            </div>
            <div class="row courses-full-name">
                <h6 class="full-name">{{course.name}}</h6>
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <section id="tabs">
        <div class="crs-tabs">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="קורס">
                    <div class="row crs-row crs-top-row">
                        <div class="col-12">
                            <div class="crs-field-header">שם קורס מלא
                            </div>
                            <div class="crs-field">{{course.name}}</div>
                        </div>
                    </div>
                    <div class="row crs-row">
                        <div class="col-6">
                            <div class="crs-field-header">שם קורס מקוצר בעברית </div>
                            <div class="crs-field">{{course.subname}}</div>
                        </div>
                        <div class="col-6">
                            <div class="crs-field-header">שם קורס מקוצר בערבית </div>
                            <div class="crs-field">{{course.subnameinarabic}}</div>
                        </div>
                    </div>
                    <div class="row crs-row">
                        <div class="col-12">
                            <div class="crs-field-header">
                                <label>פרויקט</label>
                                <div class="arrow">
                                    <select class="crs-select" ng-model="course.projectid"
                                        ng-change="changeProject(course.projectid)" ng-options="project.projectid as
                                            project.projectname for project in projects"></select>
                                </div>
                            </div>
                            <div class="crs-field">{{course.projectname}}</div>
                        </div>
                    </div>
                    <div class="row crs-row">
                        <div class="col-12">
                            <div class="crs-field-header">תגיות</div>
                            <!-- TODO: consider alternative solution: https://www.npmjs.com/package/angularjs-bootstrap-multiselect -->
                            <multi-selector tabindex="5"
							options="(projects | filter:filterCurrProjectTags:true)[0].projecttags"
							value-index="'projecttagid'" text-index="'projecttagname'" values="course.tags"
							class="form-input"></multi-selector>
                        </div>
                    </div>
                    <div class="row crs-row">
                        <div class="col-6">
                            <div class="crs-field-header">
                                <label>עיר</label>
                                <div class="arrow">
                                    <select class="crs-select" ng-model="course.cityid"
                                        ng-options="city.cityid as city.name for city in cities"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="crs-field-header">
                                <label>שנת תקציב</label>
                                <div class="arrow">
                                    <select class="crs-select" ng-model="course.yearbudgetid"
                                        ng-options="budgetyear.yearbudgetid as budgetyear.year for budgetyear in budgetyears"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row crs-row">
                        <div class="col-12">
                            <div class="crs-field-header">מדריך</div>
                            <div class="crs-field">{{course.primaryTeacherName}}</div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab index="1" heading="סילבוס">
                    <div class="crs-top-row">
                        <div class="crs-syl-1" ng-repeat="subject in course.subjects">
                            {{subject.subject}}
                            <div class="underline1"></div>
                            <div class="crs-syl-2" ng-repeat="subject in subject.subsubjects">
                                {{subject.subject}}
                                <div class="underline2"></div>
                                <div class="crs-syl-3" ng-repeat="subject in subject.subsubjects">
                                    {{subject.subject}}
                                    <div class="underline3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row crs-fixed-tabs d-flex align-items-center">
                        <div class="col-4 course-tabs
                                            align-middle" ng-class="{active:courseStatus==1}">
                            <a ng-click="goToActiveTab();">הוסף
                                נושא</a>
                        </div>
                        <div class="col-4 course-tabs
                                            align-middle" ng-class="{active:courseStatus==0}">
                            <a ng-click="goToInactiveTab();">העלה
                                סילבוס</a>
                        </div>
                        <div class="col-4 course-tabs" ng-class="{active:courseStatus==0}">
                            <a ng-click="goToInactiveTab();">ריקון
                                סילבוס</a>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab index="2" heading="סטודנטים">
                    <div class="row crs-row crs-top-row">
                        <div class="input-wrap">
                            <input type="text" class="user-search" placeholder="חיפוש חניך" ng-model="search" ng-keyup="$event.keyCode ==
                                        13?pageIndex=0:'';
                                        $event.keyCode ==
                                        13?getUsers():'';">
                        </div>
                        <div>
                            <table class="table-users">
                                <thead class="thead-users">
                                    <tr>
                                        <th class="th-users">שם</th>
                                        <th class="th-users">שם משפחה</th>
                                        <th class="th-users">אימייל</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-users" ng-click="goToUserPage(user)" ng-repeat="user in
                                                users">
                                        <td class="td-users
                                                    small-cell">{{user.firstname}}</td>
                                        <td class="td-users
                                                    small-cell">{{user.lastname}}</td>
                                        <td class="td-users
                                                    large-cell">{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row crs-fixed-tabs d-flex align-items-center">
                        <div class="col-12 course-tabs" ng-class="{active:courseStatus==1}">
                            <a ng-click="goToActiveTab();">הוסף סטודנט</a>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab index="3" heading="מדריכים">
                    <div class="row crs-row crs-top-row">
                        <div class="input-wrap">
                            <input type="text" class="user-search" placeholder="חיפוש מדריך" ng-model="search" ng-keyup="$event.keyCode ==
                               13?pageIndex=0:'';
                               $event.keyCode ==
                               13?getUsers():'';">
                        </div>
                        <div>
                            <table class="table-users">
                                <thead class="thead-users">
                                    <tr>
                                        <th class="th-users">שם</th>
                                        <th class="th-users">שם משפחה</th>
                                        <th class="th-users">אימייל</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-users" ng-click="goToUserPage(user)" ng-repeat="user in
                                       users">
                                        <td class="td-users
                                           small-cell">{{user.firstname}}</td>
                                        <td class="td-users
                                           small-cell">{{user.lastname}}</td>
                                        <td class="td-users
                                           large-cell">{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </section>
</div>