<div class="d-flex  forgot-modal">
    <div class="modal-header">
        <span class="forgot-span" ng-click="cancel()">&times;</span>

    </div>
    <div class="modal-body align-self-center" id="modal-body">
        <h3 class="modal-title" id="modal-title">הזן מייל</h3>
        <input class="forgot-email" type="email">
    </div>
</div>
    <div class="modal-footer justify-content-around">
        <button class="btn btn-light" type="button" ng-click="ok()">אישור</button>
        <button class="btn btn-light" type="button" ng-click="cancel()">ביטול</button>
    </div>
