<div class="container">
    <div>
        <img src="img\login\01.png" class="logo">
    </div>
    <form>
        <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" name="" id="email" aria-describedby="emailHelpId"
                placeholder="אימייל" ng-model="email">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="password" class="form-control" name="" id="" placeholder="סיסמה" ng-model="pass">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="login()">התחברות</button>
    </form>

</div>