<div class="container column">
    <div>
        <img src="img\login\01.png" class="logo">
    </div>
    <form class="grow">
        <div class="flex">
            <div class="form-group relative">
                <input type="email" class="form-control rounded-pill" name="" id="email" aria-describedby="emailHelpId"
                    ng-model="email">
                <div class="abs">אימייל</div>
            </div>
            <div class="form-group relative">
                <input type="password" class="form-control rounded-pill" name="" id="pwd" ng-model="pass">
                <div class="abs">סיסמה</div>
            </div>
            <div class="form-group relative login">
                <button type="submit" class="form-control2 btn btn-light rounded-pill bottom" ng-click="login()"></button>
                <div class="connect">התחברות</div>
            </div>
            <div>
                <a href="" class="bottom">שכחתי סיסמה</a>
            </div>
        </div>
    </form>

</div>