<!-- <div> -->
    <!-- <div class="container hours-report"> -->
    <div class="hours-report">
        <portal-navbar></portal-navbar>
        <hours-report-month-scroll></hours-report-month-scroll>
        <div class="hours-sum">
            {{loading?"...":('סה"כ שעות: '+sumHours())}}
        </div>
        <div ng-if="loading">loading...</div>
        <div class="hour-report-table">
            <table ng-if="reports.length>0" class="table-hour-report">
                <thead class="thead-hour-report">
                    <tr>                        
                        <th class="th-hour-report th-hour-report-date">תאריך</th>
                        <th class="th-hour-report th-hour-report-project">פרויקט</th>
                        <th class="th-hour-report th-hour-report-activity">נושא פעילות</th>
                        <th class="th-hour-report th-hour-report-total">סה"כ שעות</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rep-container tr-hour-report" ng-class="{'rep-container-rejected': rep.approval==-1, 'rep-container-unapproved': rep.approval==0, 
                    'rep-container-approved': rep.approval==1}" ng-repeat="rep in reports">
                        <td class="wh-report-cell">
                            <span>
                                {{ rep.date }}
                            </span>
                        </td>
                        <td class="wh-report-cell">
                            <span>
                                <!-- {{ rep.projectid }} -->
                                {{ getReportersProjectNameById(reportingPerimeter, rep.projectid) }}
                            </span>
                        </td>
                        <td class="wh-report-cell">
                            <span>
                                <!-- {{ rep.actionid }} -->
                                {{ getReportersActionNameById(getReportersProjectActionsById(reportingPerimeter, rep.projectid), rep.actionid) }}

                            </span>
                        </td>
                        <td class="wh-report-cell">
                            <span ng-init="calculateHours(rep);">
                                {{rep.hours}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- </div> -->

