<div class="container">

    <portal-navbar></portal-navbar>

    <div class="row justify-content-center align-items-center">  
        <div class="mx-auto">
            <img src="img/arrow_right.png" alt="arrow-right" ng-click="goLeft()">
            <span class="month text-center"><b>{{month}}</b></span>
            <img src="img/arrow_left.png" alt="arrow-left" ng-click="goRight()">
        </div>
    </div>
    
    <div class="input-wrap">
        <input type="text" placeholder="חיפוש עובד" ng-model="search" 
            ng-keyup="$event.keyCode == 13?pageIndex=0:''; $event.keyCode == 13?refreshResults():'';">
    </div>

    <!--
        for now search will be active when click on enter and not on every change
        ng-change="pageIndex=0;refreshResults();"
    -->
    <div ng-if="loading">טוען...</div>
    <uib-accordion close-others="true">

        <div uib-accordion-group class="panel-default" is-open="reporterHeaderOpen"    
            ng-repeat="($reporterIndex, reporter) in (allreporters | orderBy:'firstname') track by reporter.userid">
            <uib-accordion-heading>
                <div class="row justify-content-between">
                    <div class="reporter-title ml-auto">
                        {{ reporter.firstname + ' ' + reporter.lastname }}
                    </div>
                    <div class="mr-auto">
                        <span class="reporting-hours unapproved-hours">{{ reporter.unapprovedHours }}</span>
                        <span class="reporting-hours approved-hours">{{ reporter.approvedHours }}</span>
                        <span class="reporting-hours rejected-hours">{{ reporter.rejectedHours }}</span>
                        <span class="reporting-hours reported-hours">{{ reporter.reportedHours }}</span>
                        <span class="reporter-header-arrow" ng-show="!reporterHeaderOpen">
                            <img src="img/arrow_down.png" alt="">
                        </span>
                        <span class="reporter-header-arrow" ng-show="reporterHeaderOpen">
                            <img src="img/arrow_up.png" alt="">
                        </span>
                    </div>
                    
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="d-flex report-selection-button-action">
                    <div class="row-selection-indicator" ng-class="{'checked-row':reporter.chooseAll, 'unchecked-row':!reporter.chooseAll}" ng-click="chooseAll(reporter)">
                    </div>
                    <div class="report-button-text">סמן הכל</div>
                </div>
                <div class="mr-auto report-approve-reject-button">
                    <div class="d-flex">
                        <div class="report-approve-button-action">
                        </div>
                        <div class="report-button-text">אישור מסומנים</div>
                    </div>
                    <div class="d-flex">
                        <div class="report-reject-button-action">
                        </div>
                        <div class="report-button-text">דחיית מסומנים</div>
                    </div>
                </div>
            </div>
            <div ng-repeat="($index, rep)  in reporter.reports track by $index">
                    <p>The body of the uib-accordion group grows to fit the contents</p>
            </div>
            
            
        </div>

    </uib-accordion>

</div>