<!-- need to have background color on entire width -->
<!-- <div class="container"> -->

    <portal-navbar></portal-navbar>
    <hours-report-month-scroll></hours-report-month-scroll>
    
    <div class="input-wrap">
        <input type="text" placeholder="חיפוש עובד" ng-model="search" 
            ng-keyup="$event.keyCode == 13?pageIndex=0:''; $event.keyCode == 13?refreshResults():'';">
    </div>

    <!--
        for now search will be active when click on enter and not on every change
        ng-change="pageIndex=0;refreshResults();"
    -->
    <div ng-show="loading">טוען...</div>
    <uib-accordion ng-if="!loading" close-others="true">

        <div uib-accordion-group class="panel-default" is-open="reporterHeaderOpen"    
            ng-repeat="($reporterIndex, reporter) in (allreporters | orderBy:'firstname') track by reporter.userid">
            <uib-accordion-heading>
                <div class="row justify-content-between">
                    <div class="reporter-title ml-auto">
                        {{ reporter.firstname + ' ' + reporter.lastname }}
                    </div>
                    <div class="mr-auto">
                        <span class="reporting-hours unapproved-hours">{{ reporter.unapprovedHours }}</span>
                        <span class="reporting-hours approved-hours">{{ reporter.approvedHours }}</span>
                        <span class="reporting-hours rejected-hours">{{ reporter.rejectedHours }}</span>
                        <span class="reporting-hours reported-hours">{{ reporter.reportedHours }}</span>
                        <span class="reporter-header-arrow" ng-show="!reporterHeaderOpen">
                            <img src="img/arrow_down.png" alt="">
                        </span>
                        <span class="reporter-header-arrow" ng-show="reporterHeaderOpen">
                            <img src="img/arrow_up.png" alt="">
                        </span>
                    </div>                
                </div>
            </uib-accordion-heading>
            <div class="row" ng-show="reporter.reports.length !=0">
                <div class="d-flex report-selection-button-action">
                    <div class="row-selection-indicator" ng-class="{'checked-row':reporter.chooseAll, 'unchecked-row':!reporter.chooseAll}" ng-click="chooseAll(reporter)">
                    </div>
                    <div class="report-button-text">סמן הכל</div>
                </div>
                <div class="mr-auto report-approve-reject-button">
                    <div class="d-flex">
                        <div class="report-approve-button-action" ng-click="ApproveRows(getSelectedRows(reporter), reporter);">
                        </div>
                        <div class="report-button-text">אישור מסומנים</div>
                    </div>
                    <div class="d-flex">
                        <div class="report-reject-button-action" ng-click="RejectRows(getSelectedRows(reporter), reporter);">
                        </div>
                        <div class="report-button-text">דחיית מסומנים</div>
                    </div>
                </div>
            </div>
            <div ng-repeat="($index, rep)  in reporter.reports track by $index">
                <div class="row">
                    <div class="d-flex mr-auto">
                        <div>
                            <label class="radio-container-reject radio-container">דחה
                                <div>
                                    <input type="radio" ng-value="-1" ng-model="rep.approval" name="radioStatus{{'_' + $index }}">
                                    <span ng-class="{'checkmark': true, 'checkmark-reject': rep.approval==-1}"
                                    ng-click="RejectRows([rep], reporter);"></span>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label class="radio-container radio-container-unapproved">ממתין
                                <div>
                                    <input type="radio" ng-value="0" ng-model="rep.approval" name="radioStatus{{'_' + $index }}">
                                    <span ng-class="{'checkmark': true, 'checkmark-unapproved': rep.approval==0}"
                                    ng-click="UnapproveRows([rep], reporter);"></span>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label class="radio-container radio-container-approved">אשר
                                <div>
                                    <input type="radio" ng-value="1" ng-model="rep.approval" name="radioStatus{{'_' + $index }}">
                                    <span ng-class="{'checkmark': true, 'checkmark-approved': rep.approval==1}"
                                    ng-click="ApproveRows([rep], reporter);"></span>
                                </div>
                            </label>
                        </div> 
                    </div>
                </div>
                <div class="rep-container" ng-class="{'rep-container-rejected': rep.approval==-1, 'rep-container-unapproved': rep.approval==0, 
                                'rep-container-approved': rep.approval==1}">
                        <div class="row rep-title">
                            <div class="ml-auto">
                                <input class="rep-checked" type="checkbox" ng-model="rep.choose" name="repCheckStatus{{'_' + $index }}">
                                <span>
                                    תאריך: {{rep.date}}    
                                </span>
                                <span>
                                    סה"כ שעות: {{rep.hours}}
                                </span>
                            </div>
                            <div class="mr-auto">
                            <span>&#8942;</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="rep-sub-title">
                                    פרוייקט
                                </div>
                                <div class="rep-data">
                                    {{ getReportersProjectNameById(reporter, rep.projectid) }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="rep-sub-title">
                                    מס/ שם קורס
                                </div>
                                <div class="rep-data">
                                    <!-- {{ rep.courseid==''?'כללי':rep.courseid }} -->
                                    {{ getReportersCourseNameById(getReportersProjectCoursesById(reporter, rep.projectid), rep.courseid) }}

                                </div>
                            </div>
                            <div class="col">
                                <div class="rep-sub-title">
                                    נושא פעילות
                                </div>
                                <div class="rep-data">
                                    <!-- {{ rep.actionid }} -->
                                    {{ getReportersActionNameById(getReportersProjectActionsById(reporter, rep.projectid), rep.actionid) }}
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                
            </div>            
        </div>
    </uib-accordion>

<!-- </div> -->